$color---white: #fff;
$color---gray-1: #3a3a3a;
$color---gray-2: #616161;
$color---gray-3: #898989;
$color---gray-4: #b0b0b0;
$color---gray-5: #d8d8d8;
$color---light-bg: #f4f5f7;
$color---primary: #e89f71;
$color---green-accents: #2ec1ac;
$color---red-accents: #e97171;
$font-family: "Gilroy", sans-serif;